<div class="container-fluid">

    <div class="row">
        <div class="col-md-3" data-ng-repeat="customer in customers | orderBy:'lastName'">

            <div class="panel panel-default">
                <div class="panel-heading">{{ customer.firstName + ' ' + customer.lastName }}  </div>

                <div class="panel-body">
                    
                    <address>
                        {{ customer.address }} <br>
                        {{ customer.city }}
                    </address>

                    <button class="">Delete customer</button>
                </div>

                <div class="panel-footer">
                    <a class="btn btn-primary" href="#!/customerorders/{{ customer.id}}">View {{ customer.orders.length }} Orders</a>
                </div>
            </div>

        </div>
    </div>

</div>