<div class="container-fluid">

    <div class="row">
        <div class="col-md-3">
            <input type="text" id="firstName" data-ng-model="newCustomer.firstName" placeholder="first name">
        </div>
        <div class="col-md-3">
            <input type="text" id="lasttName" data-ng-model="newCustomer.lastName" placeholder="last name">
        </div>
        <div class="col-md-3">
            <input type="text" id="city" data-ng-model="newCustomer.city" placeholder="city">
        </div>
        <div class="col-md-3">
            <button 
            class="btn btn-primary"
            data-ng-disabled="!newCustomer.firstName || !newCustomer.lastName || !newCustomer.city"
            data-ng-click="insertCustomer()" 
            type="submit">Add new customer</button>
        </div>
    </div>

    <hr>


    <div class="row">
        <div class="col-md-3" data-ng-repeat="customer in customers | orderBy:'lastName'">

            <div class="panel panel-default">
                <div class="panel-heading">{{ customer.firstName + ' ' + customer.lastName }}
                    <button class="right" data-ng-click="deleteCustomer(customer.id)">&times;</button>
                </div>

                <div class="panel-body">

                    <address>
                        {{ customer.address }}
                        <br> {{ customer.city }}
                    </address>


                </div>

                <div class="panel-footer">
                    <a class="btn btn-primary" href="#!/customerorders/{{ customer.id}}">View {{ customer.orders.length }} Orders</a>
                </div>
            </div>

        </div>
    </div>

</div>